@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans:wght@500&family=Manrope&family=Montserrat:wght@500&family=Poppins:ital,wght@0,400;0,600;1,500&family=Roboto:wght@300&display=swap');

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none; /* IE 11 */
  scrollbar-width: none; /* Firefox 64 */
}
